<%= form_for @customer do |f| %>
  <div class="form-group">
    <%= f.label :customer_name, "Customer Name" %>
    <%= f.text_field :customer_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :customer_address, "Customer Address" %>
    <%= f.text_area :customer_address, class: "form-control", cols: 2, rows: 5 %>
  </div>
  <div class="form-group">
    <%= f.label :customer_state, "Customer State" %>
    <%= f.text_field :customer_state, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :customer_postcode, "Customer Postcode" %>
    <%= f.text_field :customer_postcode, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :customer_phone, "Customer Phone" %>
    <%= f.text_field :customer_phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Back", root_path, class: "btn btn-danger" %>
  </div>
<% end %>
