<div class="">
  <h1>Registered Customers List</h1>
  <%= link_to 'ADD CUSTOMER', new_customer_path, class: "btn btn-primary" %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>NAME</th>
        <th>ADDRESS</th>
        <th>POSTCODE</th>
        <th>STATE</th>
        <th>PHONE NUMBER</th>
        <th span=2></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.customer_name, customer_path(customer) %></td>
        <td><%= customer.customer_address %></td>
        <td><%= customer.customer_postcode %></td>
        <td><%= customer.customer_state %></td>
        <td><%= customer.customer_phone %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer)  %></td>
        <td><%= link_to 'Delete', customer_path(customer), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
